body,html { background-color: #f6f6ef; height: 100%; padding: 0; margin: 0; }



p {
	padding-left:50px;
	padding-right:50px;}

.header-font { font-family: 'Acme'; }

.nav-pills a:link  { 
  color:#ededd8 !important;
  	
	
}
.nav-pills a:hover  { 
  background-color: #203938 !important;
  	
	
}

.owdna-wrapper {
  min-height: 100%;
  margin: 0 auto -113px;
  padding: 0 0 113px;
}

.topnav {
  background-color: #262625;
  color: #fff;
}
.topnav .nav { display: inline-block; margin: 10px auto; margin-top: 15px; }

.topnav-oak { max-height: 60px; }
.topnav-owd {
  display: inline-block;
  font-family:
  'Acme';
  font-size: 24px;
  line-height: 70px;
  color: #ededd8;
}

.owd-hero {
  background-image: url('/images/Old_West_Durham_sign.jpg');
  background-position: 50% 33%;
  background-size: 100%;
  padding: 200px 0px;
  
}

.hero-image { clear:both; max-height: 140px; margin-top: 30px; }
.hero-header {
  font-family: 'Acme', cursive;
  font-size: 4em;
  line-height: 1em;
  color: #223b3a;
  text-shadow: 2px 2px 5px rgba(25,25,25,.5);
  text-align: center;
  padding: 20px;
}
.hero-subheader {
  font-size: 2em;
  line-height: 2em;
  color: #e2a432;
}
.hero-hr {
  color:#555;
  background-color:#555;
  border-top: solid 1px #222;
  height: 1px;
  width: 300px;
  display: inline-block;
}
.hero-desc { color: #ededd8; margin-top: 10px; }
.hero-address { color: #e2a432; }

a.orange-link { color: #DD9716 }
a.btn-orange {
  color: #444;
  background-color: #ea2;
  background-image: -moz-linear-gradient(top, #ea2, #dd9716);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ea2), to(#dd9716));
  background-image: -webkit-linear-gradient(top, #ea2, #dd9716);
  background-image: -o-linear-gradient(top, #ea2, #dd9716);
  background-image: linear-gradient(to bottom, #ea2, #dd9716);
  background-repeat: repeat-x;
}

/* CONTACT SECTION */

.contact-section {
  background: url('/images/contact-bg.jpg') repeat 0 0;
  padding: 30px;
}

.contact-header {
  font-family: 'Acme', cursive;
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 10px;
}

.facebook-icon {
  background: transparent url('/images/social-sprite.png') no-repeat 0 0;
  background-size: 150px 96px;
  height: 48px;
  width: 50px;
  display: inline-block;
  white-space: nowrap;
}
.twitter-icon {
  background: transparent url('/images/social-sprite.png') no-repeat 0 0;
  background-size: 150px 96px;
  height: 48px;
  width: 50px;
  display: inline-block;
  white-space: nowrap;
  background-position: -50px 0;
}

.npo-section {
  text-align:center;
  margin-bottom: 20px;
}

.npo-section p {
  font-size: 20px;
}

.owdna-p {
  font-size: 18px;
}


/* FOOTER */

.footer {
  background-image: url('/images/grunge-hero.jpg');
  background-position: center;
  background-size: 100%;
  color: #777;
  padding: 10px;
}


.history-image {
  border: solid 1px #555;
  box-shadow: 2px 2px 2px;
  max-width: 100%;
}


/* ... */

#pic-chron-outer {
  border: solid 1px #000;
  background-color: #333;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 20px;
  box-shadow: 2px 2px 2px rgba(25, 25, 25, 0.5);
}

#pic-chron-outer .arrow {
  font-size: 300%;
  text-decoration: none;
}

#chron-img {
  margin: 20px;
  border-radius: 15px;
}

#chron-caption {
  padding: 10px;
  width: 75%;
  margin: 10px auto;
  color: #ccc;
}

#chron-year {
  font-size: 200%;
  padding: 10px;
  font-weight: bold;
}

.imagebox {
  text-align: center;
  margin: 30px 0;
}

.imagebox img {
  border: solid 1px #555;
  box-shadow: 2px 2px 2px;
  max-width: 100%;
}

.imagebox p {
  display: block;
  font-size: 90%;
  margin: 2px auto;
  max-width: 70%;
}

.timetable td { padding: 5px; }

.quot {
	padding: 30px;
	color: #dd9716;
	font-size: 200%;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	margin: 20px;
	font-style: italic;
}
.quot .attr {
	font-size: 50%;
	color: #444;
	text-align: right;
	font-style: italic;
}
