---
layout: main
---

<div class="container">

  <h2>An Interactive History of OWD</h2>


  <div ng-app="gmap-app">
    <div ng-controller="MapCtrl">
      <google-map 
        center="map.center"
        zoom="map.zoom"
        draggable="true">>
        <marker ng-repeat="i in markers" coords="i" idKey="id" />
      </google-map>
      <button ng-click="randomize()">Randomize</button>
    </div>
  </div>
</div>


<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.underscore.js'></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
<script src='//cdn.jsdelivr.net/angular.google-maps/1.1.0/angular-google-maps.min.js'></script>

<script src="/js/owd-maps.js"></script>

<style>
  .angular-google-map-container { height: 400px; }
</style>