---
layout: main
active_nav_link: history
---

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      {{content}}
    </div>
    <div class="col-sm-3">
      <h3>Looking for more content?</h3>
      <p>
        Old West Durham has as rich legacy of historical content that is 
        being migrated into a more modern presentation.  If you would like
        to view that content in its old form, it's 
        <a href="/old/History/history.htm">still available</a>.
      </p>
      <p>
        We would love any help you might be able to offer in migrating this
        content.  Our site is open source!
        <a href="https://github.com/kaizenpack/owdna" class="btn btn-orange btn-large" target="_blank">
          <img src="/images/Octocat.png" style="max-width:20px;" />
          Clone us on GitHub
        </a>
      </p>
    </div>
  </div>
</div>
