---
layout: main
active_nav_link: history
---

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      {{content}}
    </div>
    <div class="col-sm-3">
      <!--
      <h3>Pictoral Chronology</h3>
      
      <p>View photographs taken of the Old West Durham Neighborhood and surrounding
        communities chronologically.</p>
      <p><a href="/history/chronology/">Pictoral Chronology</a></p>
      -->
      
      <h3>Featured Articles</h3>
      
      <p><a href="/history/8-mills-of-erwin-mills.html">8 Mills of Erwin Mills</a></p>
      <p><a href="/history/1920-street-map.html">1920 Street Map</a></p>
      <p><a href="/history/broad-street.html">Broad Street</a></p>
      <p><a href="/history/brookstown-and-hickstown.html">Brookstown And Hickstown</a></p>
      <p><a href="/history/bull-city-timeline.html">Bull City Timeline</a></p>
      <p><a href="/history/bull-durham.html">Bull Durham</a></p>
      <p><a href="/history/cooleemee-mill-no-3.html">Cooleemee Mill No. 3</a></p>
      <p><a href="/history/duke-in-history.html">Duke in History</a></p>
      <p><a href="/history/duke-stonecutters.html">Duke Stonecutters</a></p>
      <p><a href="/history/ekpowe-school.html">E.K. Powe School</a></p>
      
      <p><a href="/history/ellerbe-watershed-history.html">Ellerbe Watershed History</a></p>
      <p><a href="/history/erwin-auditorium.html">Erwin Auditorium</a></p>
      <p><a href="/history/erwin-mills-1.html">Erwin Mills 1</a></p>
      <p><a href="/history/erwin-mills-2.html">Erwin Mills 2</a></p>
      <p><a href="/history/erwin-mills-cemetary.html">Erwin Mills Cemetary</a></p>
      <p><a href="/history/faces-of-mill-hill.html">Faces of Mill Hill</a></p>
      <p><a href="/history/grocery-stores.html">Grocery Stores</a></p>
      <p><a href="/history/growing-up-on-hillsboro-road.html">Growing Up On Hillsboro Road</a></p>
      <p><a href="/history/historic-durham.html">Historic Durham</a></p>
      <p><a href="/history/interview-with-mill-worker.html">Interview With Mill Worker</a></p>
      
      <p><a href="/history/john-d-loudermilk.html">John D. Loudermilk</a></p>
      <p><a href="/history/life-in-the-mill-village.html">Life in the Mill Village</a></p>
      <p><a href="/history/mcdonalds-drug-store.html">McDonalds Drug Store</a></p>
      <p><a href="/history/ninth-street.html">Ninth Street</a></p>
      <p><a href="/old/oral-history-w-durham.pdf">Oral Histories of OWD</a></p>
      <p><a href="/history/other-durham-cotton-mills.html">Other Durham Cotton Mills</a></p>
      <p><a href="/history/owds-faith-community.html">OWD's Faith Community</a></p>
      <p><a href="/history/pilgrim-holiness-church.html">Pilgrim Holiness Church</a></p>
      <p><a href="/history/raspberry-family.html">Raspberry Family</a></p>
      <p><a href="/history/roads-to-west-durham.html">Roads to West Durham</a></p>
      
      <p><a href="/history/settlement-of-pinhook.html">Settlement of Pinhook</a></p>
      <p><a href="/history/southern-cotton-mills.html">Southern Cotton Mills</a></p>
      <p><a href="/history/southside-school.html">Southside School</a></p>
      <p><a href="/history/the-depression-in-west-durham.html">The Depression in West Durham</a></p>
      <p><a href="/history/the-erwin-chatter.html">The Erwin Chatter</a></p>
      <p><a href="/history/tommy-hunt-memories.html">Tommy Hunt Memories</a></p>
      <p><a href="/history/west-durham-church-of-god.html">West Durham Church of God</a></p>
      <p><a href="/history/west-durham-memory-mary-coles.html">West Durham Memory - Mary Coles</a></p>
      <p><a href="/history/working-on-mill-hill.html">Working on Mill Hill</a></p>
      <p><a href="/history/wpa-interviews.html">WPA Interviews</a></p>

      
     
      
    </div>
  </div>
</div>
